@import "basscss";
@import "basscss-colors";
@import "basscss-background-colors";
@import "./borders";
@import "./fonts";
@import "./shame";

/* over riding the basscss stylesheets */
:root {
  --black:#222;
  --h1: 75px;
  --h2: 50px;
}

* {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: var(--aqua);
  color: var(--black);
}

h1, h2, h3, h4, h5. h6 {
  margin: 0.4em 0px;
    font-family: 'Oswald', sans-serif;
}
